<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <title>JAM</title>
    </head>

    <style>
        body{
            background: #c31432;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            color: white;    
        }
        .logo img{
            width: 200px;
            display: block;
            margin: auto;
        }
        #heading{
            font-size: 1.5rem;
            color: gray;
        }
        .instructions{
            /* background-color: yellow; */
            /* width: fit-content;
            margin: auto; */
        }
        .control-buttons{
            display: flex;
        }
        #btn-start, #btn-stop, #btn-state{
            width: 100%;
            /* margin: 10px 10px; */
        }
        .recording-section{
            /* width: 100%; */
        }
        audio{
            width: 80%;
            margin: 10px 10px 10px 0;
        }
        #recordings{
            margin: auto;
            padding: 10px;
            width: 100%;
            max-width: 420px;
            height: 400px;
            border: 2px solid #97D083;
            border-radius: 6px;
            overflow-y: scroll;
        }
        .recorded-row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #recordings::-webkit-scrollbar{
            /* display: none; */
        }
        #recordings::-webkit-scrollbar {
            width: 10px; 
            
        }
        
        #recordings::-webkit-scrollbar-track {
            background: none; 
        }
        
        #recordings::-webkit-scrollbar-thumb {
            background: #9FD384;
            border-radius: 1rem;
        }
        
        
    </style>
    <body>
        
        <div class="mb-5" style="width: 90%;margin: auto;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo my-3">
                        <img src="/assets/logo.png" alt="">
                    </div>
                    <h1 id="heading" class="text-center">JUST ABOUT MUSIC</h1>
        
                    <div class="instructions mt-5">
                        <h2>Instructions:</h2>
                        <ol>
                            <li>First Record the vocals</li>
                            <li>After confirming the correct vocal, download it</li>
                            <li>Then move to the JAM instrument section</li>
                        </ol>
                    </div>

                    <h2 class="text-center mt-4 mb-3">Instrument Section</h2>
                    <a href="/collab" style="text-decoration: none;"><button class="btn btn-lg btn-warning m-auto d-block" style="width: 50%;">GO!</button></a>
                </div>
                <div class="col-sm-6">
                    <div class="recording-section mt-5 ">
                        <!-- <audio src="/A/1.mp3" controls></audio>
                        <a href="/A/1.mp3" download="Songs">download</a> -->
                        <div class="control-buttons">
                            <button id="btn-start" class="btn btn-primary btn-lg">Start</button>
                            <button id="btn-state" class="btn btn-warning btn-lg mx-2">State</button>
                            <button id="btn-stop" class="btn btn-danger btn-lg ">Stop</button>
                        </div>
                        <p id="recording-status" class="text-center my-4">Start to record</p>
                        
                        <audio id="vid1" class="d-none" src="" controls muted></audio>
                    
                        <h1 class="my-4 text-center">Recordings</h1>
                        <div id="recordings">
                        </div>
            
                    </div>
                </div>
            </div>
        </div>

        
    
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('/');
        let constraintObj = {
            audio: true,
            video: false
        }
        navigator.mediaDevices.getUserMedia(constraintObj)
        .then((mediaStream) => {
            let audio = document.getElementById("vid1");
            if("srcObject" in audio){
                audio.srcObject = mediaStream;
            }else{
                audio.src = window.URL.createObjectURL(mediaStream);
            }
    
            audio.onloadedmetadata = function(ev){
                audio.play();
            }
    
            let start = document.getElementById("btn-start");
            let stop = document.getElementById("btn-stop");
            let state = document.getElementById("btn-state");

            let mediaRecorder = new MediaRecorder(mediaStream);
            let chunks = [];
    
            start.addEventListener('click', (ev) => {
                mediaRecorder.start();
                start.disabled = true;
                stop.disabled = false;
                state.disabled = false;

                document.getElementById("recording-status").innerHTML = "Recording...";

                console.log(mediaRecorder.state);
            });

            state.disabled = true;
            state.addEventListener("click", (ev) => {
                if(mediaRecorder.state == "recording"){
                    mediaRecorder.pause();
                    document.getElementById("recording-status").innerHTML = "Recording paused";
                }else if(mediaRecorder.state == "paused"){
                    mediaRecorder.resume();
                    document.getElementById("recording-status").innerHTML = "Recording...";
                }
                console.log(mediaRecorder.state);
            });

            stop.disabled = true;
            stop.addEventListener("click", (ev) => {
                mediaRecorder.stop();
                start.disabled = false;
                stop.disabled = true;
                state.disabled = true;
                
                document.getElementById("recording-status").innerHTML = "Recording stopped <br> Start to record";


                console.log(mediaRecorder.state);
            });
            mediaRecorder.ondataavailable = function(ev) {
                chunks.push(ev.data);
            }
            mediaRecorder.onstop = (ev) => {
                // console.log("recording stopped")
                let blob = new Blob(chunks, {'type' : 'audio/mp3;'});
                chunks = [];
                let audioURL = window.URL.createObjectURL(blob);

                let audioDiv = document.createElement("div");
                audioDiv.classList.add("recorded-row");

                let audioSave  = document.createElement("audio");
                audioSave.controls = true;
                audioSave.src = audioURL;
                audioSave.title = "singer";
                audioSave.controlsList = "nodownload";
                audioDiv.append(audioSave);

                let downloadLink = document.createElement("a");
                downloadLink.href = audioURL;
                downloadLink.download = "singer";
                downloadLink.classList.add('btn', 'btn-success');
                let span = document.createElement("span");
                span.innerHTML = "Download";
                downloadLink.append(span);
                
                downloadLink.addEventListener("click", (ev) => {
                    socket.emit("download");
                    
                })

                audioDiv.append(downloadLink);
                // console.log("audioDiv: " + audioDiv);
                document.getElementById("recordings").append(audioDiv);


            }
    
    
        })
        .catch((err) => {
            console.log(err)
        })
        

        

        
    
    
    </script>   
    </body>
</html>